
/*--------------------------------------------------------------
## Include Fonts
--------------------------------------------------------------*/
@font-face {
    font-family: "SpaceGrotesk-Bold";
    src: url("/assets/fonts/SpaceGrotesk-Bold.ttf") format("truetype");
}


@font-face {
    font-family: "SpaceGrotesk-Regular";
    src: url("/assets/fonts/SpaceGrotesk-Regular.ttf") format("truetype");
    font-weight: normal;
}
/*--------------------------------------------------------------
## Base
--------------------------------------------------------------*/
html {
    scroll-behavior: smooth;
  }


body {
    font-family: $font-secondary, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 15px;
    letter-spacing: 1px;
    color: $color_text;
    @include md {
        font-size: 16px;
    }
    

}



dl,
ol,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

section:focus {
    outline: none !important;
}

a {
    transition: .25s ease-in;
    &:hover {
        text-decoration: none;
    }
}

li {
    list-style: none;
}